# Database envs
POSTGRES_DB=mydb
POSTGRES_USER=realdev
POSTGRES_PASSWORD=postgresdev
DB_HOST=db
DB_PORT=5432

# Django envs
DEBUG=True
SECRET_KEY="django-insecure-p0v)!sp7g+s!&4cr_22reb9$rwsj(3%!57f03^2*s^z%gd-1os"