# Database envs
POSTGRES_DB=YOUR_DB_NAME
POSTGRES_USER=YOUR_DB_USER
POSTGRES_PASSWORD=YOUR_DB_PASSWORD
DB_HOST=YOUR_DB_HOST
DB_PORT=YOUR_DB_PORT

# Django envs
DEBUG=True
SECRET_KEY="YOUR_DJANGO_PROJECT_KEY"