<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://lib.arvancloud.ir/jquery/3.6.3/jquery.js"></script>
    <title>Blog Posts</title>
</head>
<body>
    <h1>Blog Posts</h1>
    <ol id="post-wrapper">
    </ol>
    <script>
        $.get('/blog/api/v1/posts/', function(data, status, jqXHR){
            wrapper = $('#post-wrapper');
            for (post of data.results) {
                wrapper.append(`<li><a href='${post.absolute_url}'><h2>${post.title}<h2></a></li>`)
            }
        })
    </script>
</body>
</html>